@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body
{
    background-color:#C3E6FF;
}

h1
{
    font: size 30px;
    text-align: center;
    font-family: 'Playball';
    margin-top: 52px;
    color: #000000;
}


.btncadastro
{
    background-color: rgb(146, 126, 255);
    border-color: rgb(0, 0, 0);  
    font-family: 'Playball';
    
    
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin-top: 40px;

    font-size: 20px;

    border: 1px solid;
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    width: 500px;

    margin-left: auto;
    margin-right: auto; 
    text-align: center;

    display: grid;
    place-items: center;
    
}

.btnVerificarCadastro
{
    background-color: rgb(146, 126, 255);
    border-color: rgb(0, 0, 0);
    font-family: 'Playball';
    margin-top: 40px;
    text-align: center;
    color: #000000;

    font-size: 20px;

    border: 1px solid;
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    width: 500px;

    margin-left: auto;
    margin-right: auto; 
    text-align: center;

    display: grid;
    place-items: center;

}
